<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Cultural Centre</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form th:method="post" th:action="@{'/movies/{id}' (id=${movie?.id})}">
                    <div class="form-group">
                        <label for="imageUrl">Movie </label>
                        <input type="src"
                               class="form-control"
                               id="imageUrl"
                               name="imageUrl"
                               th:value="(${movie} != null ? ${movie.getImageUrl()} : '')"
                               required
                               >
                    </div>
                    <div class="form-group">
                        <label for="name">Movie name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${movie} != null ? ${movie.getName()} : '')"
                               required
                        >
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="text"
                               class="form-control"
                               id="date"
                               name="date"
                               th:value="(${movie} != null ? ${movie.getDate()} : '')"
                               required
                               >
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${movie} != null ? ${movie.getPrice()} : '')"
                        >
                    </div>
                    <div class="form-group">
                        <label for="type">Genre</label>
                        <input type="text"
                               class="form-control"
                               id="type"
                               name="type"
                               th:value="(${movie} != null ? ${movie.getType()} : '')"
                               placeholder="Genre">
                    </div>

                    <div>
                        <label>Director</label><br/>
                        <select id="director" name="director" multiple="multiple" size="5">
                            <option value="[director.id]"> [director.name]</option>
                            <option th:if="${movie} != null"
                                    th:selected="${movie.getDirector() != null &&
                                movie.getDirector().getId() == cat.getId()}"
                                    th:each="cat: ${directors}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                            <option th:if="${movie} == null"
                                    th:each="cat: ${directors}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/movies' }">Back</a>
                </form>
            </div>
        </div>
    </div>


</th:block>